<article class="flex flex-col p-16">
  <h3 class="text">Hello, I'm Damian.</h3>
  <p class="text">
    I'm passionate about creating innovative solutions and pushing the
    boundaries of what technology can achieve. If you have a project or idea
    you'd like to discuss, feel free to reach out to me using the following
    contact details:
  </p>
  <ul class="mb-4">
    <li class="text">Phone: +48511388146</li>
    <li class="text">E-mail: damian.m.ruczynski&#64;gmail.com</li>
  </ul>
  <p class="text">
    I am excited about the prospect of joining your team and contributing to its
    success. Please feel free to reach out to discuss how my skills align with
    your organization's needs.
  </p>
  <p class="text mt-4">
    I look forward to hearing from you and exploring the possibilities together!
  </p>
</article>
